<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
    <title>Eliminar Credencial</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>

    <form th:action="@{/Credential/DeleteCredential}" method="post">
        <input type="text" name="credential" placeholder="Credencial a eliminar">
        <button type="submit">Enviar</button>
    </form>

    
    
    <!-- Botón 2 -->
    <a th:href="@{/Credential/listCredentials}"><button>Todas las Credenciales</button></a>

    
<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>