<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
    <title>Credencial especifica</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>

    <form th:action="@{/Credential/ListCredentialSpecific}" method="post">
        <input type="text" name="credential" placeholder="Credencial especifico a buscar...">
        <button type="submit">Buscar</button>
    </form>
    <div th:if="${resultadoC != null}" th:text="${resultadoC}"></div>


    <h1>Código QR</h1>
    <img th:src="@{/images/qr_code.png}" alt="Código PNG">
    
    <!-- Botón 2 -->
    <a th:href="@{/Credential/listCredentials}"><button>Todas las Credenciales</button></a>


    
<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>