<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
    <title>Lista de DIDs</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>

    <h1>Lista de DIDs</h1>

    <ul>
        <!-- Iterar sobre las entradas del mapa -->
        <li th:each="entry : ${listDIDs}">
            <!-- Mostrar la clave (ID) -->
            <span>Identificador: </span>
            <span th:text="${entry.key}"></span>
            <!-- Si hay una lista asociada, mostrar los valores -->
            <ul th:if="${entry.value}">
                <li th:each="value : ${entry.value}">
                    <!-- Mostrar el valor -->
                    <span th:text="${value}"></span>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Botón 2 -->
    <a th:href="@{/DID/listDIDSpecific}"><button>DID especifica</button></a>

    
    <!-- Botón 2 -->
    <a th:href="@{/DID/CreateDID}"><button>Añadir DID</button></a>

    
    <!-- Botón 2 -->
    <a th:href="@{/DID/DeleteDIDs}"><button>Borrar DID</button></a>

    


</body>
</html>